body{
  background: #F5F5F5;
  overflow-x: hidden; 
}

.container{
  position: absolute;
  padding-left: 25px;
  padding-right: 25px;
  left: 0;
  right: 0;
  width: 1024px;
  height: calc(100% - 52px);
  margin: auto;
  background: #FFFFFF;
}

nav{
  position: relative;
  display: grid;
  width: 100%;
  border: 1px solid #CCCCCC;
  & a.selected{
  background: #49a84c;
  color: white !important;
  font-weight: bold;
  }
}

header a.option {
  font-weight: normal;
}

button{
  margin: 0;
  font-weight: normal;
  font-size: 16px;
}

button.green, .button.green{
  border: 0 !important;
}

.text-bold{
  font-weight: bold;
}

.float-left{
  float: left;
}

.float-right{
  position: relative;
  float: right;
}

input[type="checkbox"]{
  height: 15px;
}

@media (max-width: 1000px){
  .container {
    width: 100%;
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .row{
    display: block;
  }
}